
<!DOCTYPE html>
<html>
    <head>
        <title>Ali (Under 12) 100m Free</title>
    </head>
    <body>
        <h3>Ali (Under 12) 100m Free</h3>
        
            <svg width="400" height="30">
                <rect width=321.03 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:20.22 <br /> 
            <svg width="400" height="30">
                <rect width=344.32 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:26.04 <br /> 
            <svg width="400" height="30">
                <rect width=321.71 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:20.39 <br /> 
            <svg width="400" height="30">
                <rect width=330.15 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:22.50 <br /> 
            <svg width="400" height="30">
                <rect width=350.0 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:27.46 <br /> 
            <svg width="400" height="30">
                <rect width=348.16 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:27.00 <br /> 
            <svg width="400" height="30">
                <rect width=349.4 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:27.31 <br /> 
        <p>Average time : 01:24.42</p>
    </body>
</html>

