
<!DOCTYPE html>
<html>
    <head>
        <title>Alison (Under 14) 100m Free</title>
    </head>
    <body>
        <h3>Alison (Under 14) 100m Free</h3>
        
            <svg width="400" height="30">
                <rect width=350.0 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:16.03 <br /> 
            <svg width="400" height="30">
                <rect width=347.38 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:15.46 <br /> 
            <svg width="400" height="30">
                <rect width=332.74 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:12.28 <br /> 
            <svg width="400" height="30">
                <rect width=327.77 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:11.20 <br /> 
            <svg width="400" height="30">
                <rect width=326.84 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:11.00 <br /> 
            <svg width="400" height="30">
                <rect width=332.55 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:12.24 <br /> 
            <svg width="400" height="30">
                <rect width=322.29 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:10.01 <br /> 
            <svg width="400" height="30">
                <rect width=343.83 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:14.69 <br /> 
            <svg width="400" height="30">
                <rect width=331.45 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:12.00 <br /> 
            <svg width="400" height="30">
                <rect width=340.01 height="30" style="fill: rgb(0, 0, 255)" />
            </svg> 1:13.86 <br /> 
        <p>Average time : 01:12.88</p>
    </body>
</html>

